.di{
    display:flex;
    justify-content:center;
}
.text{
    text-align:center;
}
.row_rita{
    float: left;
    justify-content:space-between;
}
/* dark mode */
.dark{
    background-color: black;
    color: white;
}
/* daytime mode */
.white{
    background-color: white;
    color:black;
}
