<!DOCTYPE html>
   <html lang="en">
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title><%= 4角有限公司 %></title>
      </head>
      <body>
          <h1>4角有限公司</h1>
          

      <table>
        <tr>
          <th>Product</th>
          <th>Type</th>
          <th>Brand</th>
          <th>Origin</th>
          <th>Count</th>
        </tr>
        <tr>
          <td>%=</td>
          <td>Maria Anders</td>
          <td>Germany</td>
          <td>Germany</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
          <td>Germany</td>
          <td>Germany</td>
        </tr>
      </table>

      <a href="/products">Back to Products List</a>

    </body>
      </html>